---
import '../styles/global.css';
import '../styles/fonts.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "山と川に恵まれた自然の中で、特別なひとときをお過ごしください。"} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="font-shippori text-text-color">
    <main>
      <slot />
    </main>
    <style>
      html {
        scroll-behavior: smooth;
      }
      
      body {
        font-family: 'Shippori Mincho', serif;
      }
    </style>
  </body>
</html>